<section class="central-container">
  <h1 class="title">Meu calendário</h1>

  <div class="event-container">
    <button (click)="openCreatePopUp()" class="btn">+</button>

    <div class="event-container__list">
      <div *ngIf="toggle.noEvents" class="event-container__list__no-events">
        Você não tem nenhum evento!
      </div>

      <div class="event-container__item" *ngFor="let item of eventList; index as i">
        <div>
          <p>{{ item.date }} | {{ item.start }} - {{ item.end }}</p>
          <p>{{ item.title }}</p>
          <p>{{ item.description }}</p>
        </div>

        <div class="event-container__item__btn">
          <button (click)="openUpdatePopUp(item, i)">Editar</button>
          <button (click)="confirmDelete(i)">Excluir</button>
        </div>
      </div>
    </div>
  </div>

  <a routerLink="/home">Sair</a>

  <!-- Criar evento -->
  <div class="popup-container" *ngIf="toggle.createPopUp">
    <h1 class="title">Novo evento</h1>

    <label for="title">Título do evento</label>
    <input type="text" [(ngModel)]="newEvent.title" maxlength="40" class="input">

    <label for="description">Descrição do evento</label>
    <input type="text" [(ngModel)]="newEvent.description" maxlength="120" class="input">

    <label for="date">Data</label>
    <input type="text" [(ngModel)]="newEvent.date" class="input" mask="00/00/0000" placeholder="DD/MM/AAAA">

    <div class="small-input">
      <div class="small-input__box">
        <label for="time-start">Início às: </label>
        <input type="text" [(ngModel)]="newEvent.start" class="input" mask="00:00" placeholder="HH:MM">
      </div>

      <div class="small-input__box">
        <label for="time-end">Término às:</label>
        <input type="text" name="" id="" [(ngModel)]="newEvent.end" class="input" mask="00:00" placeholder="HH:MM">
      </div>
    </div>
    
    <div class="btn-container">
      <button (click)="closePopUp()" class="btn">Cancelar</button>
      <button (click)="submitNewEvent(newEvent)" class="btn">Adicionar</button>
    </div>
  </div>

  <!-- Editar evento -->
  <div class="popup-container" *ngIf="toggle.updatePopUp">
    <h1 class="title">Editar evento</h1>

    <label for="title">Título do evento</label>
    <input type="text" [(ngModel)]="itemToUpdate.item.title" maxlength="40" class="input">

    <label for="description">Descrição do evento</label>
    <input type="text" [(ngModel)]="itemToUpdate.item.description" maxlength="120" class="input">

    <label for="date">Data</label>
    <input type="text" [(ngModel)]="itemToUpdate.item.date" class="input" mask="00/00/0000" placeholder="DD/MM/AAAA">

    <div class="small-input">
      <div class="small-input__box">
        <label for="time-start">Início às: </label>
        <input type="text" [(ngModel)]="itemToUpdate.item.start" class="input" mask="00:00" placeholder="HH:MM">
      </div>

      <div class="small-input__box">
        <label for="time-end">Término às:</label>
        <input type="text" name="" id="" [(ngModel)]="itemToUpdate.item.end" class="input" mask="00:00" placeholder="HH:MM">
      </div>
    </div>
    
    <div class="btn-container">
      <button (click)="closePopUp()" class="btn">Cancelar</button>
      <button (click)="updateEvent()" class="btn">Confirmar</button>
    </div>
  </div>
</section>