<section class="central-container">
  <h1 class="title">Meu calendário</h1>

  <div class="event-container">
    <!-- <p>Você não tem nenhum evento!</p> -->
    <div class="event-container__item" *ngFor="let item of eventList; index as i">
      <p>{{ item.date }} | {{ item.start }} - {{ item.end }}</p>
      <p>{{ item.title }}</p>
      <p>{{ item.description }}</p>

      <button (click)="editEvent()">Editar</button>
      <button (click)="deleteEvent()">Excluir</button>
    </div>

    <button (click)="openPopUp()" class="btn">Criar evento</button>
  </div>

  <a routerLink="/home">Sair</a>

  <div class="popup-container" *ngIf="toggle">
    <h1 class="title">Novo evento</h1>

    <label for="title">Título do evento</label>
    <input type="text" [(ngModel)]="newEvent.title" maxlength="40" class="input">

    <label for="description">Descrição do evento</label>
    <input type="text" [(ngModel)]="newEvent.description" maxlength="120" class="input">

    <label for="date">Data</label>
    <input type="text" [(ngModel)]="newEvent.date" class="input" mask="00/00/0000" placeholder="DD/MM/AAAA">

    <div class="small-input">
      <div class="small-input__box">
        <label for="time-start">Início às: </label>
        <input type="text" [(ngModel)]="newEvent.start" class="input" mask="00:00" placeholder="HH:MM">
      </div>

      <div class="small-input__box">
        <label for="time-end">Término às:</label>
        <input type="text" name="" id="" [(ngModel)]="newEvent.end" class="input" mask="00:00" placeholder="HH:MM">
      </div>
    </div>
    
    <div class="btn-container">
      <button (click)="closePopUp()" class="btn">Cancelar</button>
      <button (click)="submitNewEvent(newEvent)" class="btn">Adicionar</button>
    </div>
  </div>
</section>