.event-container {
  background-color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;

  width: 35em;
  height: 30em;

  &__list {
    background-color: rgba(255, 255, 255, 0.322);
    width: 80%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    overflow: auto;

    &__no-events {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    margin: 15px;
    padding: 10px 0px 10px 0px;

    &__btn {
      display: flex;
      flex-direction: column;
    }
  }
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;

  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
  height: 25em;
  width: 25em;
  padding: 30px;
}

.description {
  font-size: .8em;
  line-height: 20px;
}

@media (min-width: 300px) and (max-width: 600px) {
  .event-container {
    width: 100vw;
    height: 100vh;
  }

  .popup-container {
    width: 85vw;
    height: 100vh;
    max-height: 600px;
  }
}