<section class="central-container">
  <div class="event-container">
    <div class="event-container__item__btn">
      <button (click)="openCreatePopUp()" class="btn-2">
        <img src="../../../assets/add.png" alt="Adicionar evento">
      </button>
      <button (click)="confirmLogout()" class="btn-2">
        <img src="../../../assets/logout.png" alt="Logout">
      </button>
    </div>

    <div class="blur-bg" *ngIf="toggle.logoutConfirmation">
      <div class="confirmation-popup">
        <p>Tem certeza que deseja sair?</p>
        <div>
          <button class="btn" (click)="closePopUp()">Voltar</button>
          <button class="btn" (click)="logout()">Confirmar</button>
        </div>
      </div>
    </div>

    <!-- Lista de eventos -->
    <div class="event-container__list">
      <div *ngIf="toggle.noEvents" class="event-container__list__no-events">
        <p>Você não tem nenhum evento!</p>
        <br>
        <img src="../../../assets/calendar-100.png" alt="">
      </div>

      <div class="event-container__item" *ngFor="let item of eventList; index as i">
        <div>
          <p>{{ item.date }} | {{ item.start }} - {{ item.end }}</p>
          <p>{{ item.title }}</p>
          <p>{{ item.description }}</p>
        </div>

        <div class="event-container__item__btn">
          <button (click)="openUpdatePopUp(item, i)" class="btn-2">
            <img src="../../../assets/edit.png" alt="Editar">
          </button>

          <button (click)="deleteConfirmation(i)" class="btn-2">
            <img src="../../../assets/delete.png" alt="Deletar">
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.deleteConfirmation">
    <div class="confirmation-popup">
      <p>Deseja mesmo excluir esse evento?</p>
      <div>
        <button class="btn" (click)="closePopUp()">
          Voltar
        </button>
        <button class="btn" (click)="deleteEvent(this.itemToDelete.index)">
          Confirmar
        </button>
      </div>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.deleteConfirmationMessage">
    <div class="confirmation-popup">
      <p>Excluído com sucesso!</p>
      <button class="btn" (click)="closePopUp()">OK</button>
    </div>
  </div>

  <!-- Criar evento -->
  <div class="blur-bg" *ngIf="toggle.createPopUp">
    <div class="popup-container">
      <h1 class="title-3">Novo evento</h1>
      <label for="title">Título do evento</label>
      <input type="text" [(ngModel)]="newEvent.title" maxlength="40" class="input">
      <label for="description">Descrição do evento</label>
      <input type="text" [(ngModel)]="newEvent.description" maxlength="120" class="input">
      <label for="date">Data</label>
      <input type="text" [(ngModel)]="newEvent.date" class="input" mask="00/00/0000" placeholder="DD/MM/AAAA">
      <div class="small-input">
        <div class="small-input__box">
          <label for="time-start">Início às: </label>
          <input type="text" [(ngModel)]="newEvent.start" class="input" mask="00:00" placeholder="HH:MM">
        </div>
        <div class="small-input__box">
          <label for="time-end">Término às:</label>
          <input type="text" name="" id="" [(ngModel)]="newEvent.end" class="input" mask="00:00" placeholder="HH:MM">
        </div>
      </div>
    
      <div class="btn-container">
        <button (click)="closePopUp()" class="btn">Cancelar</button>
        <button (click)="createNewEvent(newEvent)" class="btn">Adicionar</button>
      </div>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.newEventConfirmation">
    <div class="confirmation-popup">
      <p>Adicionado com sucesso!</p>
      <button class="btn" (click)="closePopUp()">
        OK
      </button>
    </div>
  </div>

  <!-- Editar evento -->
  <div class="blur-bg" *ngIf="toggle.updatePopUp">
    <div class="popup-container">
      <h1 class="title-3">Editar evento</h1>
      <label for="title">Título do evento</label>
      <input type="text" [(ngModel)]="itemToUpdate.item.title" maxlength="40" class="input">
      <label for="description">Descrição do evento</label>
      <input type="text" [(ngModel)]="itemToUpdate.item.description" maxlength="120" class="input">
      <label for="date">Data</label>
      <input type="text" [(ngModel)]="itemToUpdate.item.date" class="input" mask="00/00/0000" placeholder="DD/MM/AAAA">
      <div class="small-input">
        <div class="small-input__box">
          <label for="time-start">Início às: </label>
          <input type="text" [(ngModel)]="itemToUpdate.item.start" class="input" mask="00:00" placeholder="HH:MM">
        </div>
        <div class="small-input__box">
          <label for="time-end">Término às:</label>
          <input type="text" name="" id="" [(ngModel)]="itemToUpdate.item.end" class="input" mask="00:00" placeholder="HH:MM">
        </div>
      </div>
    
      <div class="btn-container">
        <button (click)="closePopUp()" class="btn">Cancelar</button>
        <button (click)="updateEvent()" class="btn">Confirmar</button>
      </div>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.updateEventConfirmation">
    <div class="confirmation-popup">
      <p>Atualizado com sucesso!</p>
      <button class="btn" (click)="closePopUp()">
        OK
      </button>
    </div>
  </div>
</section>