.event-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;

  width: 40%;
  height: 80%;

  &__list {
    background-color: rgba(255, 255, 255, 0.322);
    width: 80%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.295);
    border-radius: 10px;
    overflow: auto;

    &__no-events {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.151);
    margin: 5px;
    padding: 10px 0px 10px 0px;

    &__btn {
      display: flex;
      flex-direction: column;
    }
  }
}

.event-container > button {
  align-self: flex-end;
}

.blur-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(254, 255, 173, 0.301);
}

.popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: left;

  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
  width: 30%;
  height: 70%;
  padding: 30px;
}