<section class="central-container">
  <div class="data-container">
    <h1 class="title-3">Seja bem-vindo(a)!</h1>

    <div class="data-container__input-box">
      <label for="email">E-mail*</label>
      <input type="text" class="input" [(ngModel)]="newLogin.email">

      <label for="password">Senha*</label>
      <input type="password" class="input" [(ngModel)]="newLogin.password">
    </div>

    <div class="btn-container">
      <button (click)="home()" class="btn">
        Voltar
      </button>

      <button (click)="login()" class="btn">
        Confirmar
      </button>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.noRegister">
    <div class="confirmation-popup">
      <p>Este e-mail não está cadastrado.</p>

      <div class="btn-container">
        <button (click)="closeErrorMessage()" class="btn">Voltar</button>
        <button (click)="registerNow()" class="btn">Cadastrar</button>
      </div>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.errorMessage">
    <div class="confirmation-popup">
      <p>Para prosseguir, é necessário preencher e-mail e senha.</p>
      <button (click)="closeErrorMessage()" class="btn">OK</button>
    </div>
  </div>
</section>