<section class="central-container">
  <div class="data-container">
    <h1 class="title">Seja bem-vindo(a)!</h1>

    <div class="data-container__input">
      <label for="email">E-mail</label>
      <input type="text" class="input">

      <label for="password">Senha</label>
      <input type="password" class="input">
    </div>

    <div class="btn-container">
      <a routerLink="/home" class="btn">
        Voltar
      </a>
      <a routerLink="/events" class="btn">
        Confirmar
      </a>
    </div>
  </div>
</section>