<section class="central-container">
  <div class="data-container">
    <h1 class="title-3">Cadastre-se!</h1>

    <div class="data-container__input-box">
      <div class="small-input">
        <div class="small-input__box">
          <label for="name">Primeiro nome*</label>
          <input type="text" class="small-input__box__input" [(ngModel)]="register.firstName">
        </div>
        
        <div class="small-input__box">
          <label for="surname">Último nome*</label>
          <input type="text" class="small-input__box__input" [(ngModel)]="register.lastName">
        </div>
      </div>

      <div class="small-input">
        <div class="small-input__box">
          <label for="birth">Data de nascimento*</label>
          <input type="text" class="small-input__box__input" mask="00/00/0000" placeholder="DD/MM/AAAA" [(ngModel)]="register.birth">
        </div>

        <div class="small-input__box">
          <label for="gender">Gênero*</label>
          <select class="small-input__box__input" [(ngModel)]="register.genre">
            <option value="female">Feminino</option>
            <option value="male">Masculino</option>
            <option value="other">Outro</option>
          </select>
        </div>
      </div>

      <label for="email">E-mail*</label>
      <input type="email" class="input" placeholder="example@example.com" [(ngModel)]="register.email">

      <label for="password">Senha*</label>
      <input type="password" class="input" [(ngModel)]="register.password">

      <label for="password">
        Repetir senha*
        <span style="color: red; font-size: .8em; font-weight: bold;" 
        *ngIf="register.password != register.confirmationPassword && register.confirmationPassword.length > 0">
          As senhas não são iguais.
        </span>
      </label>
      <input type="password" class="input" [(ngModel)]="register.confirmationPassword">
    </div>

    <div class="btn-container">
      <button class="btn" (click)="home()">
        Voltar
      </button>

      <button class="btn" (click)="newRegister()">
        Cadastrar
      </button>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.errorMessage">
    <div class="confirmation-popup">
      <p>Para prosseguir, é necessário preencher todos os campos. Tente novamente.</p>
      <button (click)="closeErrorMessage()" class="btn">OK</button>
    </div>
  </div>

  <div class="blur-bg" *ngIf="toggle.confirmRegister">
    <div class="confirmation-popup">
      <p>Cadastro realizado com sucesso!</p>
      <button (click)="closeRegister()" class="btn">OK</button>
    </div>
  </div>
</section>
