<section class="home">

  <div class="home__container">
    <div class="home__container__title">
      <img src="../../../assets/free-time.png" alt="Logo Calendário de Eventos">
      <h1 class="title">Calendário</h1>
      <h2 class="title-2">de eventos</h2>
    </div>

    <div class="home__container__btn">
      <button (click)="login()" class="home-btn">
        Entrar
      </button>
      <button (click)="register()" class="home-btn">
        Cadastre-se
      </button>
    </div>
  </div>
</section>
