.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    &__title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 25px;
    }

    &__btn {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 70%;
      margin: 20px;
    }
  }
}

.home-btn {
  background-color: var(--transparent);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  padding: 15px 25px 15px 25px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  height: fit-content;
  width: 100%;
}

.home-btn:hover {
  color: rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
}

.title {
  font-weight: bold;
  font-size: 4em;
  margin: 20px 0px 20px 0px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.50);
}

.title-2 {
  font-size: 3em;
  color: white;
  font-family: 'Dancing Script', cursive;
  margin: -25px;
  font-weight: bold;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.50);
}