<section class="home">
  <div class="home__title-container">
    <h1>
      Events Calendar
    </h1>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugit ea officia facere ad vel quasi placeat sed labore architecto perferendis. Ipsum vero dolore excepturi accusantium ratione. Reprehenderit aliquam minus cum.
    </p>
  </div>

  <div class="btn-container">
    <a routerLink="/login">
      Entrar
    </a>
    
    <a routerLink="/register">
      Cadastrar-se
    </a>
  </div>
</section>
