.home-container {
  background-color: rgb(0, 0, 0);
  background-image: url(../../../assets/background-2.jpg);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    width: 75%;
    // height: 100%;
    padding: 0px 20px 0px 20px;
    text-align: center;
    // background-color: greenyellow;
  }

  &__title > p {
    margin: 30px;
    color: white;
  }

  &__btn-box {
    background-color: rgb(0, 0, 0);
    width: 25%;
    height: 100%;
    padding: 0px 20px 0px 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}

.home-btn {
  background-color: var(--transparent);
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 14px;
  margin: 10px 10px 10px 10px;
  padding: 15px 25px 15px 25px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 30px;
  height: fit-content;
  width: 50%;
}

.home-btn:hover {
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  background-color: white;
  cursor: pointer;
}