@import url(reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

.central-container {
  background-color: rgb(254, 255, 173);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  width: 25vw;
  height: 100vh;
  padding: 20px;


  &__input {
    background-color: rgba(255, 255, 255, 0.363);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.title {
  font-weight: bold;
  font-size: 1.5em;
  margin: 20px 0px 20px 0px;
}

.btn {
  background-color: goldenrod;
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
  padding: 15px 25px 15px 25px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 30px;
  height: fit-content;
}

.btn:hover {
  background-color: rgb(180, 130, 2);
  cursor: pointer;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
}

.input {
  outline: none;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.486);
  border-radius: 5px;
  margin: 5px 0px 20px 0px;
}

.small-input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
  }
}