@import url(reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

body {
  background-image: url(assets/background-2.jpg);
}

:root {
  --old-pink: #B73C3F;
  --transparent: rgba(255, 255, 255, 0);
}

.central-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.data-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 23em;
  padding: 20px;

  &__input-box {
    background-color: rgba(255, 255, 255, 0.363);
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }
}

.blur-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  -webkit-backdrop-filter: blur(2px);
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.137);
}

.title {
  font-weight: bold;
  font-size: 4em;
  margin: 20px 0px 20px 0px;
  color: white;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.50);
}

.title-3 {
  font-size: 1.5em;
  font-weight: bold;
  color: black;
  margin: 10px 0px 10px 0px;
}

.title-4 {
  font-size: 1em;
  font-weight: bold;
}

.btn {
  background-color: var(--transparent);
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin: 0px 10px 0px 10px;
  padding: 15px 25px 15px 25px;
  border: 1px solid black;
  border-radius: 30px;
  height: fit-content;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
}

.btn-2 {
  border: none;
  background-color: var(--transparent);
}

.btn-2:hover {
  cursor: pointer;
  filter: invert(100%);
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: fit-content;
}

.input {
  outline: none;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.486);
  border-radius: 5px;
  margin: 5px 0px 20px 0px;
  width: 100%;
}

.input:focus {
  border: 1px inset black;
}

.small-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__input {
      outline: none;
      height: 30px;
      border: 1px solid rgba(0, 0, 0, 0.486);
      border-radius: 5px;
      margin: 5px 0px 20px 0px;
      width: 14em;
    }
  }
}

.confirmation-popup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  position: absolute;
  padding: 15px;
  line-height: 20px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.295);
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.20);
  width: 20em;
}

.confirmation-popup > button {
  margin-bottom: 10px;
  background-color: black;
  color: white;
}

.confirmation-popup > button:hover {
  background-color: var(--old-pink);
  border: 1px solid var(--old-pink);
}

.confirmation-popup > p {
  margin: 10px;
}